<h1 class="sdx-fund-jjCpH1">{{name}}</h1>
<p class="sdx-fund-jjCpJz">{{total_unit_net_worth}}</p>
<p class="sdx-fund-jzData">净值日期:&nbsp;&nbsp;&nbsp;<span>{{unit_net_worth_date}}</span></p>
<div class="row">
  <div class="col-33">
    <div class="sdx-fund-tab2LeftBd">
      <p class="sdx-fund-tab215pt">{{year_return_rate}}<span>%</span></p>
      <p>近一年收益率</p>
    </div>
  </div>
  <div class="col-33">
    <div class="sdx-fund-tab2LeftBd">
      <p class="sdx-fund-tab215pt">{{create_date}}</p>
      <p>成立日期</p>
    </div>
  </div>
  <div class="col-33">
    <div class="sdx-fund-tab2LeftBd">
      <p class="sdx-fund-tab215pt">{{found}}<span>%</span></p>
      <p>成立以来收益率</p>
    </div>
  </div>
</div>
