<div class="sdx-ps-tzZlx">
  <p class="sdx-ps-tzzZt">请选择投资者类型</p>
  <ul class="sdx-ps-ulTzzLx">
    <li>
      <div style="display: inline-block;">
        <img src="../../assets/images/man.png" style="vertical-align: middle;">
        <span>我是个人</span>
      </div>

    </li>

    <li>
      <div style="display: inline-block;">
        <img src="../../assets/images/company.png" style="vertical-align: middle;">
        <span>我是机构</span>
      </div>
    </li>

    <li>
      <div style="display: inline-block;">
        <img src="../../assets/images/product.png" style="vertical-align: middle;">
        <span>我是产品</span>
      </div>
    </li>
  </ul>
</div>

<div class="tZzOne" style="display: none;">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="javascript:" class="link icon-only modifyRegLogin"><i class="icon icon-back"></i></a>
      </div>
      <div class="center sdx-ps-xgMm">修改密码</div>
    </div>
  </div>

  <form id="example_one">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="name" class="form-control" placeholder="请输入真实姓名">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="card_type" placeholder="请选择证件类型" class="form-control sdx-ps-zjLx oneType" readonly>
              <img src="../../assets/images/product_right.png" id="pickerZjLx">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="id_card" class="form-control" placeholder="请输入证件号码">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="text" name="phone" class="form-control" placeholder="请输入手机号码" maxlength="11">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="text" class="form-control" name="pin" placeholder="请输入验证码" maxlength="6">
            </div>
            <a href="javascript:" class="button button-big button-green sdx-ps-yzm">获取验证码</a>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="password" class="form-control" name="password" placeholder="请输入新密码">
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input type="password" class="form-control" name="rePassWorld" placeholder="再次输入新密码">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </form>

  <a href="javascript:" class="button button-big button-fill sdx-ps-bc">提交</a>
</div>

