{{#each this}}
<li>
  <div class="item-content" style="padding-left: 0;">
    <div class="item-inner item-titlePd0">
      <div class="item-title">
        <div class="row rowMt0">
          <div class="col-auto br0"><span>{{forDate}}</span></div>
          <div class="col-auto br0"><span class="rgb144"></span><span>{{unit_net_worth_rate}}%</span></div>
          <div class="col-auto br0" style="padding-left: 0.5rem;"><span class="rgb144"></span><span>{{unit_net_worth}}</span></div>
        </div>
      </div>
    </div>
  </div>
</li>
{{/each}}
