.main-page {
  .sdx-main-h65 {
    height: 65%;
  }
  .tabbar-labels {
    height: 3.875rem;
  }
  .navbar {
    background-color: #0f328d;
  }
  .sdx-main-userInformation {
    height: 5.938rem;
    background-color: #0177ff;
    color: #ffffff;
  }
  .sdx-main-userInformation p {
    margin: 0;
  }
  .navbar .center {
    color: #ffffff;
  }
}

html.ios-gt-8 .navbar .center {
  font-weight: normal;
}
.navbar-fixed .page-content, .navbar-through .page-content {
  padding-top: 0;
}
.content-block {
  margin: 0;
  padding:0;
  color: #6d6d72;
  box-sizing: border-box;
}
.page>.navbar {
  position: relative;
}
