<ul class="infoListGoods">
  {{#each chanpin_list}}
  <li class="accordion-item"
      data-chanpinjixiao_role="{{chanpinjixiao_role}}"
      data-lishijingzhi_role="{{lishijingzhi_role}}"
      data-chanpinyaosu_role="{{chanpinyaosu_role}}"
      data-chanpingonggao_role="{{chanpingonggao_role}}"
      data-chanpinid="{{id}}"
      data-chanpincode="{{code}}"
  >
    <a href="javascript:" class="item-content item-link">
      <div class="item-inner sdx-fund-inner">
        <div class="item-title sdx-fund-goodsList15pt2">{{name}}</div>
        <div class="item-title sdx-fund-goodsList9pt">净值日期:&nbsp;&nbsp;{{unit_net_worth_date}}</div>
      </div>
    </a>
    <div class="accordion-item-content sdx-fund-tab2Accordion">
      <div class="content-block">
        <ul class="sdx-fund-blUl sdx-fund-blUl2">
          <li>
            <p class="sdx-fund-15254" style="font-weight: bold;">{{unit_net_worth}}</p>
            <p class="sdx-fund-goodsList10pt">最新净值</p>
          </li>
          <li>
            <p class="sdx-fund-15254">{{found}}<span>%</span></p>
            <p class="sdx-fund-goodsList10pt">成立以来收益率</p>
          </li>
          <li class="sdx-fund-goodsList15pt">
            <p class="sdx-fund-15254">{{create_timestamp}}</p>
            <p class="sdx-fund-goodsList10pt">成立日期</p>
          </li>
          <li class="sdx-fund-goodsList15pt">
            <p class="sdx-fund-15254">{{year_return_rate}}<span>%</span></p>
            <p class="sdx-fund-goodsList10pt">近一年收益率</p>
          </li>
        </ul>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
