{{#each chanPinYaoSuList}}
<table>
  <tbody>
  <tr>
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{chanpinfengxiandengji}}</span>
      <span class="sdx-fund-yaoSuBl">产品风险等级</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{touzizhefenggeyaoqiu}}</span>
      <span class="sdx-fund-yaoSuBl">投资者风格要求</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{yunyingjigou}}</span>
      <span class="sdx-fund-yaoSuBl">运营外包机构</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{tuoguanjigou}}</span>
      <span class="sdx-fund-yaoSuBl">托管方</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{xucunqi}}</span>
      <span class="sdx-fund-yaoSuBl">存续期</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{fengbiqi}}</span>
      <span class="sdx-fund-yaoSuBl">封闭期</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none; width: 100%;">
      <span class="grb50">{{kaifangpinlv}}</span>
      <span class="sdx-fund-yaoSuBl">开放频率</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none;">
      <span class="grb50">{{touzifanwei}}</span>
      <span class="sdx-fund-yaoSuBl">投资范围</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none;">
      <span class="grb50">{{touzicelv}}</span>
      <span class="sdx-fund-yaoSuBl">投资策略</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{yujingxian}}</span>
      <span class="sdx-fund-yaoSuBl">预警线</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{zhisunxian}}</span>
      <span class="sdx-fund-yaoSuBl">止损线</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none; width: 100%;">
      <span class="grb50">{{fengxiankongzhi}}</span>
      <span class="sdx-fund-yaoSuBl">风控措施</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{rengoufei}}</span>
      <span class="sdx-fund-yaoSuBl">认购费</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{shengoufei}}</span>
      <span class="sdx-fund-yaoSuBl">申购费</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{shuhuifei}}</span>
      <span class="sdx-fund-yaoSuBl">赎回费</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{guanlifei}}</span>
      <span class="sdx-fund-yaoSuBl">管理费</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{touziguwenfei}}</span>
      <span class="sdx-fund-yaoSuBl">投资顾问费</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{xiaoshoufuwufei}}</span>
      <span class="sdx-fund-yaoSuBl">销售服务费</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top">
      <span class="grb50">{{tuoguanfei}}</span>
      <span class="sdx-fund-yaoSuBl">托管费</span>
    </td>
    <td class="sdx-fund-yaoSuBr2" valign="top">
      <span class="grb50">{{yunyingwaibaofei}}</span>
      <span class="sdx-fund-yaoSuBl">运营外包费</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none;">
      <span class="grb50">{{yewubaochou}}</span>
      <span class="sdx-fund-yaoSuBl">业绩报酬</span>
    </td>
  </tr>
  <tr class="sdx-tab2-btHs">
    <td class="sdx-fund-yaoSuBr" valign="top" style="border-right: none;">
      <span class="grb50">{{fenhongfangshi}}</span>
      <span class="sdx-fund-yaoSuBl">分红方式</span>
    </td>
  </tr>
  </tbody>
</table>
{{/each}}
