<dl>
  <div class="sdx-fund-dlList">
    <dt><img src="../../assets/images/home_totle.png"></dt>
    <dd class="sdx-fund-dd0 sdx-fund-sx1-4">
      <div id="myTargetElement" class="showMoney"></div>
      <div class="hideMoney">******</div>
    </dd>
    <dd class="sdx-fund-dd0">总资产</dd>
  </div>
  <div class="sdx-fund-dlList">
    <dt><img src="../../assets/images/home_money.png"></dt>
    <dd class="sdx-fund-dd0 sdx-fund-sx1-4">
      <div id="myTargetElementSyE" class="showMoney"></div>
      <div class="hideMoney">******</div>
    </dd>
    <dd class="sdx-fund-dd0">累计收益额</dd>
  </div>
  <div class="sdx-fund-dlList">
    <dt><img src="../../assets/images/home_percent.png"></dt>
    <dd class="sdx-fund-dd0 sdx-fund-sx1-4">
      <span class="showMoney"><span id="myTargetElementSyL"></span><span>%</span></span>
      <span class="hideMoney">******</span>
    </dd>
    <dd class="sdx-fund-dd0">总收益率</dd>
  </div>
</dl>
