<div class="sdx-fund-userInformation">
  <div class="sdx-fund-userXx">
    <p class="fundUser"></p>
    <p>身份证号:&nbsp;&nbsp;<span class="fundIdCard"></span></p>
  </div>
</div>

<div class="sdx-fund-flexBox">
  <div class="flex-box flex-item sdx-fund-itemOne">
    <div class="flex-item"><img src="../../assets/images/home_wenjuan.png"></div>
  </div>
  <div class="flex-item center">
    <p class="sdx-fund-fb11">您的风险问卷调查得分为<span class="grade"></span>分，风险承受能力为<span style="font-weight: bold;" class="assessmentResult"></span></p>
    <p class="sdx-fund-fb9">测评时间:&nbsp;&nbsp;<span class="insertAnswerDate"></span><b class="sdx-fund-tb">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</b>有效期:&nbsp;&nbsp;<span class="insertAnswerBetweenDays"></span></p>
  </div>
  <div class="flex-item">
    <img src="../../assets/images/product_right.png" class="sdx-fund-f90">
  </div>
</div>
